[
    {
        "setcoreoffset": 0,
        "setclocks": 0,
        "setmem": 0,
        "setpl": 0,
        "setfan": 0
    },
    {
        "setcoreoffset": 0,
        "setclocks": 0,
        "setmem": 0,
        "setpl": 0,
        "setfan": 0
    }
]
